.m-5 {
  margin: 5px !important;
}

@import url("https://fonts.googleapis.com/css?family=Grand+Hotel");

.straight-line {
  background-color: #262626;
  height: 30px;
  margin: 16px 16px;
  width: 1px;
}
.flex {
  display: flex;
}

.flex > div.flex-middle {
  flex: 1;
  display: inline-block;
}

.logo {
  margin: 20px 0px;
  font-size: 35px;
  font-family: "Grand Hotel", cursive;
}

.m-r-5 {
  margin-right: 30px !important;
}

.no-width {
  width: 100% !important;
}

.m-t-5 {
  margin-top: 5%;
}

.color-blue {
  color: #3897f0;
}

.font-10 {
  font-size: 10px !important;
}

.full-width {
  width: 100%;
}
.circle {
  width: 60px !important;
  border-radius: 3.25rem !important;
  height: 60px !important;
}
.left-margin {
  margin-left: 7em !important;
}
.text-strong {
  color: black !important;
  text-decoration: none;
  font-weight: bold !important;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}
.follow-color {
  color: #3897f0 !important;
}

.scroller {
  overflow-y: scroll;
  height: 150px;
}
